<div class="d-flex justify-content-between">
  <h1 mat-dialog-title>
    Remove tool
  </h1>
  <mat-icon (click)="closeModal()" style="cursor: pointer">close</mat-icon>
</div>
<div mat-dialog-content>
  <p>Are you sure want remove?</p>
  <div class="d-flex justify-content-end">
    <button mat-flat-button [disableRipple]=true class="secondary-btn" (click)="closeModal()"> Cancel </button>
    <button mat-flat-button [disableRipple]=true class="primary-btn" (click)="confirmDelete()"> Yes, remove </button>
  </div>
</div>
