<div class="d-flex justify-content-between">
  <h1 mat-dialog-title>
    Remove tool
  </h1>
  <mat-icon (click)="closeModal()" style="cursor: pointer">close</mat-icon>
</div>
<div mat-dialog-content style="height: 100%">
  <p>Are you sure want remove?</p>
  <div class="d-flex justify-content-end align-items-end">
    <button mat-button class="primary-btn d-flex align-self-end" (click)="addTool()"> ADD TOOL </button>
    <button mat-button class="primary-btn d-flex align-self-end" (click)="addTool()"> ADD TOOL </button>
  </div>
</div>
