<div class="spinner-border" role="status" *ngIf="!load">
  <span class="sr-only">Loading...</span>
</div>

<ng-container *ngIf="load">
  <div class="row">
    <div class="col-12">
      <div class="py-4 text-left">
        <h1 class="py-2">VUTTR</h1>
        <h4>Very Useful Tools to Remember</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="add-icon">
        <input [(ngModel)]="search" class="d-flex justify-content-star" (keyup)="findTool()" type="text" name="search" id="search" placeholder="search">
        <mat-icon class="icon-search">search</mat-icon>
      </div>
    </div>
    <div class="col-6 d-flex align-content-center flex-wrap">
      <div class="custom-control custom-checkbox my-1 mr-sm-2">
        <input type="checkbox" class="custom-control-input" id="customControlInline">
        <label class="custom-control-label" for="customControlInline">search in tags only</label>
      </div>
    </div>
    <div class="col-2 d-flex align-items-end flex-column">
      <button mat-button class="primary-btn" (click)="addToolModal()">
        <mat-icon inline=true>add</mat-icon> ADD
      </button>
    </div>
  </div>

  <ng-container *ngFor="let tool of tools">
      <app-tool [tool]="tool" (itemDeleted)="deleteItem($event)" ></app-tool>
  </ng-container>

</ng-container>
