/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import '~@angular/material/theming';
// Plus imports for other components in your app.

$general-typography: mat-typography-config(
  $font-family: '"Source Sans Pro", sans-serif',
  $body-2:        mat-typography-level(14px, 24px, 600)
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($general-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $crd-app-primary: mat-palette($mat-blue-grey, 800, 600, 900);
$vtr-app-primary: mat-palette($mat-blue, A700, A400, A200);
$vtr-app-accent:  mat-palette($mat-light-green, A400, A200, A700);

// The warn palette is optional (defaults to red).
$vtr-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$vtr-app-theme: mat-light-theme($vtr-app-primary, $vtr-app-accent, $vtr-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($vtr-app-theme);
